@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section header{
    <address class="view">
        ЮУрГУ, 2017<br />
        ЭИУ-436<br />
        Бородина Алена<br />
    </address>
}


